
.navbar-brand img{
    width: 291px;
    height: 39px;
}
.header{
    background-color: #FFF9F4;;
}
.bannar_img img{
    width: 407px;
    height: 407px;
}
.card-body img{
    width: 334px;
    height: 327px;
}
.shoppin_icon img{
    width: 78px;
    height: 82px;
}
footer{
    height: 100px;
}